<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.html') %>
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <%- include ('partials/header.html') %>
            <!-- Header End -->


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Buzón de Preguntas</h2>
                        </div>
                        <div class="col-12">
                            <p style="color:#FFF;">En esta seccione podrás enviarle tus preguntas, quejas y sugerencias
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->



            <!-- FAQs Start -->
            <div class="faqs">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <h2 class="section-title">Preguntas frecuentes</h2>
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne"
                                            aria-expanded="true">
                                            ¿Cuáles son los métodos de enseñanza que se usan?
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                            pretium
                                            mi. Curabitur facilisis ornare velit non.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                            ¿Los métodos utilizados para enseñar la lectura y la
                                            matemática tienen base en pruebas científicas de
                                            comprobada eficacia?
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                            pretium
                                            mi. Curabitur facilisis ornare velit non.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                            ¿Los materiales de ciencia y
                                            estudios sociales están al día?
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                            pretium
                                            mi. Curabitur facilisis ornare velit non.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                            ¿Cuánto tiempo se dedica a cada materia como la
                                            lectura, la matemática, la ciencia y la historia?
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
                                            pretium
                                            mi. Curabitur facilisis ornare velit non.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseFive">
                                            ¿Cuanto dia fue ayer?
                                        </a>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#accordion">
                                        <div class="card-body">
                                            Eres Kazel verdad?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                        <h2 class="section-title">Preguntas frecuentes</h2>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne"
                                        aria-expanded="true">
                                        ¿Cuáles son los métodos de enseñanza que se usan?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                        mi. Curabitur facilisis ornare velit non.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        ¿Los métodos utilizados para enseñar la lectura y la
                                        matemática tienen base en pruebas científicas de
                                        comprobada eficacia?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                        mi. Curabitur facilisis ornare velit non.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        ¿Los materiales de ciencia y
                                        estudios sociales están al día?
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                        mi. Curabitur facilisis ornare velit non.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                        ¿Cuánto tiempo se dedica a cada materia como la
                                        lectura, la matemática, la ciencia y la historia?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium
                                        mi. Curabitur facilisis ornare velit non.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
            <!-- FAQs End -->


            <!-- Call to Action Start -->
            <div class="call-to-action">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h2>¿Encontraste una respuesta a tu pregunta?</h2>
                            <p>
                                Si tu pregunta no se encuentra en la seccion de preguntas frecuentes, puedes enviarla
                                para
                                que sea revisada por uno de nuestros acesores.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <a class="btn" href="pendient">Enviar pregunta</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to Action End -->


            <!-- Footer Start -->
            <%- include ('partials/footer.html') %>
                <!-- Footer End -->
    </div>

    <!-- JavaScript-->
    <%- include ('partials/javascript.html') %>
</body>

</html>