<!-- Content Start -->
<div class="service">
    <div class="container-fluid">
        <div class="section-header" id="contenido">
            <h2>Contenido</h2>
            <p>Encuentra contenido de tu agrado</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="videos">
                    <div class="service-item">
                        <h3>Videos</h3>
                        <img src="img/icon-service-3.png" alt="Service">
                        <p>Aquí encontraras videos de otras plataformas y clases grabadas</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="books">
                    <div class="service-item">
                        <h3>Libros De Texto</h3>
                        <img src="img/icon-service-4.png" alt="Service">
                        <p>Encuentra los libros recomendados en formato digital de la asignatura</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="workbooks">
                    <div class="service-item">
                        <h3>Eejercicios</h3>
                        <img src="img/icon-service-4.png" alt="Service">
                        <p>Descarga ahora mismo cuadernos de ejercicios complemento</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="test">
                    <div class="service-item">
                        <h3>Examenes</h3>
                        <img src="img/icon-service-4.png" alt="Service">
                        <p>Consulta examenes para que pongas en practica tu conocimitno</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="library">
                    <div class="service-item">
                        <h3>Biblioteca</h3>
                        <img src="img/icon-service-3.png" alt="Service">
                        <p>Sección con libros en formato para cualquiere de los tres grados</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="news">
                    <div class="service-item">
                        <h3>Anuncios Generales</h3>
                        <img src="img/icon-service-1.png" alt="Service">
                        <p>Aquí encontraras los anuncios generales que publique el porfe Catarino</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="questions">
                    <div class="service-item">
                        <h3>Buzón De Preguntas</h3>
                        <img src="img/icon-service-2.png" alt="Service">
                        <p>En esta seccione podrás enviarle tus preguntas, quejas y sugerencias</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="events">
                    <div class="service-item">
                        <h3>Eventos</h3>
                        <img src="img/icon-service-3.png" alt="Service">
                        <p>Enterate sobre los proximos eventos de la escuela Técnica 95</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a href="pendient">
                    <div class="service-item">
                        <h3>Programas</h3>
                        <img src="img/icon-service-3.png" alt="Service">
                        <p>Revisa el estatus del Programa Nacional de Lectura y Escritura</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->