<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-about">
                    <h2>Información de contacto</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet metus sit amet
                        diam varius commodo. Aliquam at nisl interdum
                    </p>
                    <br>
                    <p><i class="fa fa-map-marker-alt"></i>Esc. Sec. Tecnica 95, Tlauhac, CDMX</p>
                    <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope"></i>angel.catario@espanol.com</p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="">About Us</a>
                            <a href="">Our Story</a>
                            <a href="">Our Services</a>
                            <a href="">Our Portfolio</a>
                            <a href="">Our Projects</a>
                            <a href="">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="">Our Clients</a>
                            <a href="">Clients Review</a>
                            <a href="">Ongoing Customer</a>
                            <a href="">Customer Support</a>
                            <a href="">FAQs</a>
                            <a href="">Site Map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="home">Angel Catarino</a>, Todos los derechos reservados.</p>
            </div>
            <div class="col-md-6">
                <p>Entidad: <a href="https://tecnica95.wixsite.com/portal" target="_blank">Escuela Secundaria Tecnica 95 Cuitlahuac</a></p>
            </div>
        </div>
    </div>
</div>